body {
    background-color: #f8f8f8;
}

.container {
    width: 800px;
    margin: auto;
}

.content {
    padding-left: 25px;
}

.itemHeaders {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
}

.description {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

.description:first-letter {
    font-size: 30px;
    font-family: serif;
    font-style: normal;
}

.description.detailed {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.description.detailed:first-letter {
    font-size: 50px;
    font-family: monospace;
}

.itemCharacteristicsList {
    list-style-image: url(../img/ul.png);
    list-style-position: inside;
}

.itemCharacteristicsList {
    color: #dc4409;
    font-size: 22px;
    font-style: oblique;
    font-weight: 800;
}

.contactsInput {
    height: 15px;
    width: 155px;
    color: #dc4409;
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
    padding-left: 10px;
    text-transform: capitalize;
}

.contactsInput:focus {
    color: #187edc;
    background: #abdbdc;
}

.itemDetailImage, .catalogImageItem {
    box-shadow: 0 0 10px 10px #FF9421;
    outline: 3px solid #ABDBDC;
}

.catalogImageItem:hover, .itemDetailImage:hover {
    outline: 0 solid #ABDBDC;
}

.itemDetailImage {
    margin-top: 5px;
    margin-left: 50px;
}

.detailedItemTable {
    width: 500px;
    height: 200px;
    margin: auto;
}

.detailedItemTable td {
    border: 1px solid #FF9421;
    text-align: center;
    vertical-align: middle;
    box-shadow: 0 0 10px 2px #FF9421;
}

.detailedItemTable tr {
    height: 20px;
}

.detailedItemTable tr:first-child {
    height: 40px;
}

.detailedItemTable tr:first-child td:first-child {
    border-top-left-radius: 30px;
}

.detailedItemTable tr:last-child td:last-child {
    border-bottom-right-radius: 30px;
}