#TrendingProducts {
    height: 1108px;
    float: left;
}

#TrendingProducts h1 {
    float: left;
    color: #212121;
    font-size: 36px; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: left;
    margin-top: 119px;
    margin-left: 98px;
}

#TrendingProductsPicBlock {
    width: 1200px;
    height: 800px;
    float: left;
    margin-left: 98px;
    margin-top: 64px;
}

#TrendingProductsPicBlock div {
    width: 370px;
    height: 370px;
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 30px;
    float: left;
}